<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" >
    <link rel="stylesheet" href="/style.css">
    <title>Сотрудник</title>
</head>
<body>

<h1>Сотрудник: {{NAME}}</h1>

<p>Статус: <b>{{STATUS}}</b></p>
<!--<p>Сегодня отработано: {{TODAY}}</p>-->
<span id="todayTime">{{TODAY}}</span>

<p>Всего отработано: {{TOTAL}}</p>

{{ARRIVAL_BUTTON}}
{{DEPARTURE_BUTTON}}



<br>
<a href="/">На главную</a>
<script>
    let minutes = {{TODAY_MINUTES}};

    setInterval(() => {
        minutes++;
        document.getElementById("todayTime").innerText = minutes + " мин";
    }, 60000);
</script>

</body>
</html>
